@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background: #141414;
	color: #ffffff;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 24px 16px -32px;
}

.movie-app > .movie-container {
	overflow-x: auto;
	flex-wrap: nowrap;
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;
}

.image-container {
	display: flex;
	justify-content: start;
	margin: 30px;
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	left: 0;
	bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.search-input {
	padding: 10px;
	font-size: 16px;
	border-radius: 6px;
	border: none;
	background-color: #1A191F;
	color: #FDFDFE;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.add-favourites {
	margin-right: 2px;
}

.bi-heart-fill {
	margin-left: 4px;
	color: #E61C5D;
}

.remove-favourites {
	margin-right: 2px;
}

.bi-trash-fill {
	
}